<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Notes app</title>
  </head>
  <body>
    <h1>Notes</h1>

    <textarea name="name" rows="10" cols="80" id="text"></textarea>
    <br>
    <button name="create" id="create" onclick="create()">Create</button>

    <div class="note-list" id="note-list">
      
    </div>

    <script type="text/javascript" src="../src/note.js"></script>
    <script type="text/javascript" src="../src/interface.js"></script>
  </body>
</html>
